
table {
    width: 100%;
    background: black;
}

.Header {
    top: 0;
    position: sticky;
    background: red;
}

.Header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.ImageLink {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.ImageLink::after {
    position: absolute;
    content: attr(data-label);
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(25%);
    color: white;
    font-size: 36px;
    font-weight: 900;
    line-height: 1em;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    text-align: center;
    pointer-events: none;
}

.Rank {
    font-weight: 900;
    text-align: center;
    font-size: 32px;
    margin-top: 15px;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
}

.RankNote {
    text-align: center;
}

.Choice {
    font-size: 14px;
}

.Choice.invalid {
    text-decoration: line-through;
}

.ChoiceValue {
    font-weight: bold;
}

.ChoiceValue.boosted {
    color: red;
}

.ChoiceNote {
    font-weight: bold;
    font-style: italic;
}