
table {
    width: 100%;
    background: black;
    border-collapse: collapse;
}

tr {
    border-bottom: 2px solid red;
}

th {
    background: #700;
    color: white;
}

th, td {
    padding: 5px;
}

.Header {
    top: 0;
    position: sticky;
    background: red;
    z-index: 100;
}

.Header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.ImageLink {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.ImageLink::before, .ImageLink::after {
    position: absolute;
    content: attr(data-label);
    left: 0;
    right: 0;
    bottom: -10px;
    color: white;
    font-size: 36px;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
    pointer-events: none;
}

.ImageLink::before {
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
}

.Rank {
    position: relative;
    font-weight: 900;
    text-align: center;
    font-size: 32px;
    margin-top: 15px;
    color: white;
}

.Rank::before, .Rank::after {
    position: absolute;
    content: attr(data-label);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    pointer-events: none;
}

.Rank::before {
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
}

.RankNote {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.Choice {
    font-size: 14px;
}

.Choice.invalid {
    text-decoration: line-through;
}

.ChoiceValue {
    font-weight: bold;
}

.ChoiceValue.boosted {
    color: red;
}

.ChoiceNote {
    font-weight: bold;
    font-style: italic;
}